-e git+https://github.com/moreymat/educe.git@rst-sparse#egg=educe
-e git+https://github.com/kowey/attelo.git@scikit#egg=attelo
-e git+https://github.com/nlhepler/pydot.git#egg=pydot
--allow-external pydot
--allow-external python-graph-core
--allow-external python-graph-dot
--allow-unverified pydot
--allow-unverified python-graph-core
--allow-unverified python-graph-dot
-e .
