#!/bin/bash
#SBATCH --job-name=irit-rst-dt-evaluate
#SBATCH --mail-type=END
#SBATCH --mail-user=YOUR_EMAIL_ADDRESS_HERE <== EDIT THIS
#SBATCH --cpus-per-task=64
IRIT_RST_DT=$HOME/irit-rst-dt
cd "$IRIT_RST_DT"
EVALUATE_FLAGS=()
#EVALUATE_FLAGS=(--resume)

set -e
source "$IRIT_RST_DT/cluster/env"
# create the evaluation folder
irit-rst-dt evaluate --start "${EVALUATE_FLAGS[@]}"
# launch ten folds independently, hopefully creating
# separate cluster nodes for each along the way
for f in $(seq 0 9); do
    srun irit-rst-dt evaluate --folds "$f" "${EVALUATE_FLAGS[@]}" &
done
# wait for all folds to complete
wait
# generate the report
irit-rst-dt evaluate --end
