#!/bin/bash
#SBATCH --job-name=irit-rst-dt-gather
#SBATCH --mail-type=END
#SBATCH --mail-user=YOUR_EMAIL_ADDRESS_HERE <=== EDIT THIS
IRIT_RST_DT=$HOME/irit-rst-dt
source "$IRIT_RST_DT/cluster/env"
cd "$IRIT_RST_DT"
time irit-rst-dt gather
